<div class="row">
    <div class="col-sm-3">
        <div class="user-name">
            <div class="show-user"><p>{{username}}</p></div>
            <div class="edit-user">
                <!--<form role="form">
                    <div class="form-group">
                        <label class="sr-only">username</label>-->
                <input type="text" class="form-control" placeholder="Enter Username" value="{{username}}">
                <!--</div>
            </form>-->
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="user-email">
            <div class="show-user"><p>{{email}}</p></div>
            <div class="edit-user">
                <!--<form role="form">
                    <div class="form-group">
                        <label class="sr-only">username</label>-->
                <input type="text" class="form-control" placeholder="Enter Email" value="{{email}}">
                <!--</div>
            </form>-->
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="user-password">
            <div class="show-user"><p>Change Password</p></div>
            <div class="edit-user">
                <!--<form role="form">
                    <div class="form-group">
                        <label class="sr-only">password</label>-->
                <input type="password" class="form-control" placeholder="Enter Password" value="{{password}}">
                <!--</div>
            </form>-->
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="user-role">
            <div class="show-user"><p>Role: {{role}}</p></div>
            <div class="edit-user">
                <!--<form role="form">
                    <div class="form-group">
                        <label class="sr-only">role</label>-->
                <input type="text" class="form-control" placeholder="Enter Role" value="{{role}}">
                <!--</div>
            </form>-->
            </div>
        </div>
    </div>
    <div class="col-sm-1">
        <button type="button" class="close destroy">&times;</button>
    </div>
</div>