<div class="panel panel-default" style="margin:100px;" >
    <!-- Default panel contents -->
    <div class="panel-heading">Users</div>

    <!-- List group -->
    <div class="list-group">

    </div>
</div>