<header>
    <form role="form" class="form-horizontal ">
        <fieldset>
            <div class="form-group">
                <div class="col-xs-6 col-md-6">
                    <button type="button"
                            class="add-all form-control btn btn-primary">Add All
                    </button>
                </div>
                <div class="col-xs-6 col-md-6">
                    <button type="button"
                            class="add-selected form-control btn btn-danger">Add Selected
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</header>
<section class="menu-wrapper">
    <div class="list-group abso list-padding box-height list-item"></div>
</section>