<header id="auto-view-stops-header">
    <form role="form" class="form-horizontal">
        <fieldset>
<!--
            <legend>Add Stop</legend>
-->
            <div class="form-group">
                <div class="col-xs-3 col-md-3">
                    <div class="btn-group" data-toggle="buttons" ><!--data-toggle="buttons"-->
                        <label class="btn btn-primary active">
                            <input type="radio" name="options" id="option1" value="easeOutExpo" checked><span class="glyphicon glyphicon-repeat"></span>
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" name="options" id="option2" value="linear"><span class="glyphicon glyphicon-resize-full"></span>
                        </label>
                    </div>
                </div>
                <div class="col-xs-3 col-md-3">
                    <input type="text" class="form-control" id="spinnerTime">
                </div>
                <div class="col-xs-6 col-md-6">
                    <button id="btnAddSelectedAutoViewStop" type="button"
                            class="btn btn-primary btn-block">Add Stop
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</header>
<section class="menu-wrapper">
    <div class="list-group abso list-padding box-height" id="auto-view-stops-list"></div>
</section>