<div class="viewWrapper">
    <div class="viewItem row">
        <div class="col-md-4 col-sm-4 col-xs-4"><img src="{{url}}" height="70px" width="70px" alt="..." class="img-thumbnail"></div>
        <div class="col-md-6 col-sm-6 col-xs-6"><label>{{filename}}</label><br/><label>Is Parent? </label>{{isParent}}</div>
        <div class="col-md-2 col-sm-2 col-xs-2">
            <button type="button" class="close destroy">&times;</button>
        </div>
    </div>
    <input class="editItem form-control list-input" value="{{text}}"><!--{{text}}-->
</div>
