<header>
    <form role="form" class="form-horizontal ">
        <fieldset>
            <!-- id="autoViewHeader"
                        <legend>Add Scene</legend>
            -->
            <div class="form-group file-selection">
                <div class="col-xs-7 col-md-7">
                    <label class="sr-only">Enter Web Address</label>
                    <input class="form-control new-address" type="text" placeholder="Enter Web Address" autofocus>
                </div>
                <div class="col-xs-5 col-md-5 no-left-padding">
                    <div class="btn-group">
                        <span class="btn btn-success fileinput-button flyers ">
                            <span>Sel files..</span>
                            <!-- The file input field used as target for the file upload widget -->
                            <input id="flyerfileupload" type="file" name="files[]" multiple>
                        </span>
                        <button type="button" class="btn btn-default btn-file-selection-close">&times;</button>
                    </div>
                </div>
            </div>

            <div class="form-group file-options">
                <!--<div class="row">-->
                <div class="col-xs-5 col-md-5">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary isParentLabel">
                            <input class="isParent" type="checkbox"><i class="glyphicon glyphicon-user"></i>
                        </label>
                        <label class="btn btn-primary isReplaceLabel">
                            <input class="isReplace" type="checkbox"><i
                                class="glyphicon glyphicon-registration-mark"></i>
                        </label>
                        <label class="btn btn-primary isFilmLabel">
                            <input class="isFilm" type="checkbox"><i
                                class="glyphicon glyphicon-film"></i>
                        </label>

                    </div>
                </div>
                <div class="col-xs-7 col-md-7 no-left-padding">
                    <div class="btn-group">

                        <!--<span class="btn btn-success fileinput-button flyers ">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Sel files..</span>
                            &lt;!&ndash; The file input field used as target for the file upload widget &ndash;&gt;
                            <input id="flyerfileupload" type="file" name="files[]" multiple>
                        </span>-->
                        <button type="button" class="btn btn-success btn-file-opt  flyers"><i class="glyphicon glyphicon-plus"></i> File Opt..</button>
                        <span class="btn btn-success fileinput-button videos">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Sel vids..</span>
                            <!-- The file input field used as target for the file upload widget -->
                            <input id="videofileupload" type="file" name="files[]" multiple>
                        </span>
                        <button type="button"
                                class="apply-images btn btn-primary"><i
                                class="glyphicon glyphicon-floppy-disk"></i><span> Apply</span>
                        </button>
                    </div>
                </div>
                <div id="image-progress" class="progress">
                    <div class="progress-bar progress-bar-success"></div>
                </div>
                <!-- The container for the uploaded files -->
                <div id="files" class="files"></div>
                <!--</div>-->

            </div>
        </fieldset>
    </form>
</header>
<section class="menu-wrapper">
    <div class="list-group abso list-padding box-height list-item"></div>
</section>