<div class="viewWrapper">
    <div class="viewItem row">

        <div class="col-md-5 col-sm-5 col-xs-5"><label>{{name}}</label></div>
        <div class="col-md-6 col-sm-6 col-xs-6"><label>{{title}}</label></div>
        <div class="col-md-1 col-sm-1 col-xs-1">
            <button type="button" class="close destroy">&times;</button>
        </div>


    </div>
    <input class="editItem form-control list-input" value="{{title}}"><!--{{text}}-->
</div>
