<div class="viewWrapper">
    <div class="viewItem row">
        <!--<div class="col-md-2 col-sm-2 col-xs-2">
            <div class="checkbox">
                <label>
                    <input class="flyerCheckbox" type="checkbox">
                </label>
            </div>
        </div>-->
        <div class="col-md-2 col-sm-2 col-xs-2"><label>{{hotspotName}}</label></div>
        <div class="col-md-5 col-sm-5 col-xs-5 no-left-padding"><label>{{title}}</label></div>
        <div class="col-md-2 col-sm-2 col-xs-2 no-left-padding"><label><span class="span-orange">h </span>{{height}}</label></div>
        <div class="col-md-2 col-sm-2 col-xs-2 no-left-padding"><label><span class="span-orange">w </span>{{width}}</label></div>
        <div class="col-md-1 col-sm-2 col-xs-1 no-left-padding">
            <button type="button" class="close destroy">&times;</button>
        </div>


    </div>
    <input class="editItem form-control list-input" value="{{name}}"><!--{{text}}-->
</div>
