<header>
    <form role="form" class="form-horizontal ">
        <fieldset>
            <div class="form-group">
                <div class="col-xs-4 col-md-4">
                    <button type="button"
                            class="add-editor form-control btn btn-primary">Add Edt.
                    </button>
                </div>
                <div class="col-xs-4 col-md-4">
                    <button type="button"
                            class="remove-editor form-control btn btn-primary">Remove Edt.
                    </button>
                </div>
                <div class="col-xs-4 col-md-4">
                    <button type="button"
                            class="add-highlight form-control btn btn-primary">Highlight
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</header>
<section class="menu-wrapper">
    <div class="list-group abso list-padding box-height list-item"></div>
</section>