<div class="viewWrapper">
    <div class="viewItem row">

        <div class="col-md-3 col-sm-3 col-xs-3"><label>{{hotspotName}}</label></div>
        <div class="col-md-1 col-sm-1 col-xs-1 no-left-padding"><label>{{rx}}</label></div>
        <div class="col-md-1 col-sm-1 col-xs-1 no-left-padding"><label>{{ry}}</label></div>
        <div class="col-md-1 col-sm-1 col-xs-1 no-left-padding"><label>{{rz}}</label></div>
        <div class="col-md-2 col-sm-2 col-xs-2 no-left-padding"><label><span class="span-orange">s </span>{{scale}}</label></div>
        <div class="col-md-2 col-sm-2 col-xs-2 no-left-padding"><label><span class="span-orange">h </span>{{height}}</label></div>
        <div class="col-md-2 col-sm-2 col-xs-2 no-left-padding"><label><span class="span-orange">w </span>{{width}}</label></div>

    </div>
</div>
