<!--
<div class="col-xs-6 col-md-6">
    <div class="row">
        <div class="col-xs-6 col-md-6"><label for="spinnerLat">LAT:</label></div>
        <div class="col-xs-6 col-md-6"><input id="spinnerLat" name="value"></div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-md-6"><label for="spinnerLng">LNG:</label></div>
        <div class="col-xs-6 col-md-6"><input id="spinnerLng" name="value"></div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-md-6"> <label>
            <input id="allScenesCheck" type="checkbox"> All Scenes
        </label></div>
        <div class="col-xs-6 col-md-6"></div>

    </div>

    <div class="row">
        <div class="col-xs-6 col-md-6"> <input id="spinnerHlookAt" name="value"></div>
        <div class="col-xs-6 col-md-6"> <label for="spinnerHlookAt">Set Default Look At:</label></div>


    </div>

    <div class="row">
        <div class="col-xs-6 col-md-6"> <input id="spinnerVlookAt" name="value"></div>
        <div class="col-xs-6 col-md-6">
            <button class="btn btn-primary btn-block"  id="btnspinnerDefaultlookAt">Set Default Look At</button>
        </div>


    </div>

    <div class="row">
        <div class="col-xs-6 col-md-6"><label for="spinnerFov">FOV:</label></div>
        <div class="col-xs-6 col-md-6"><input id="spinnerFov" name="value"></div>


    </div>

    <div class="row">
        <div class="col-xs-6 col-md-6"> <label for="spinnerMaxPxZm">Max Pixel ZM:</label></div>
        <div class="col-xs-6 col-md-6"><input id="spinnerMaxPxZm" name="value"></div>


    </div>

</div>
<div class="col-xs-6 col-md-6">
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <input id="spinnerHlookatmin" name="value">
        </div>
        <div class="col-xs-6 col-md-6">
            <button class="btn btn-primary btn-block" id="btnspinnerHlookatmin">Set H Look At Min</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <input id="spinnerHlookatmax" name="value"></div>
        <div class="col-xs-6 col-md-6">
            <button class="btn btn-primary btn-block"  id="btnspinnerHlookatmax">Set H Look At Max</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-6"><input id="spinnerVlookatmin" name="value"></div>
        <div class="col-xs-6 col-md-6">
            <button class="btn btn-primary btn-block"  id="btnVlookatmin">Set V Look At Min</button>
        </div>


    </div>
    <div class="row">
        <div class="col-xs-6 col-md-6"> <input id="spinnerVlookatmax" name="value"></div>
        <div class="col-xs-6 col-md-6">
            <button class="btn btn-primary btn-block"  id="btnVlookatmax">Set V Look At Max:</button>
        </div>


    </div>
    <div class="row">
        <div class="col-xs-6 col-md-6"><label for="spinnerFovMin">Fov Min:</label></div>
        <div class="col-xs-6 col-md-6"> <input id="spinnerFovMin" name="value"></div>


    </div>
    <div class="row">
        <div class="col-xs-6 col-md-6"><label for="spinnerFovMax">Fov Max:</label></div>
        <div class="col-xs-6 col-md-6"><input id="spinnerFovMax" name="value"></div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12"><button class="btn btn-primary btn-block"  id="btnSaveAllSettings">Save All</button></div>

    </div>
</div>
-->

    <div class="row row-margin-settings">
        <div class="col-md-3">
            <button class="btn btn-primary btn-block" id="btnspinnerHlookatmin"><span class="glyphicon glyphicon-chevron-left "></span> Set H Look At Min</button>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="spinnerHlookatmin"><!---->
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="spinnerHlookatmax">
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary btn-block" id="btnspinnerHlookatmax">Set H Look At Max <span class="glyphicon glyphicon-chevron-right"></span></button>
        </div>
    </div>
    <div class="row row-margin-settings">
        <div class="col-md-3">
            <button class="btn btn-primary btn-block" id="btnVlookatmin"><span class="glyphicon glyphicon-chevron-down"></span> Set V Look At Min</button>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="spinnerVlookatmin">
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="spinnerVlookatmax">
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary btn-block" id="btnVlookatmax">Set V Look At Max <span class="glyphicon glyphicon-chevron-up"></span></button>
        </div>
    </div>
    <div class="row row-margin-settings">
        <div class="col-md-3 col-md-offset-3">
            <input type="text" class="form-control" id="spinnerHlookAt">
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="spinnerVlookAt">
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary btn-block" id="btnspinnerDefaultlookAt">Set Default Look</button>
        </div>
    </div>
    <div class="row row-margin-settings">
        <div class="col-md-3">
            <label class="form-label">LAT</label>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="spinnerLat">
        </div>
        <div class="col-md-3">
            <label class="form-label">LNG</label>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="spinnerLng">
        </div>
    </div>
    <div class="row row-margin-settings">
        <div class="col-md-3 col-md-offset-9">
            <div class="checkbox">
                <label>
                    <input id="allScenesCheck" type="checkbox" value="true">ALL SCENES</label>
            </div>
        </div>
    </div>
    <div class="row row-margin-settings">
        <div class="col-md-3">
            <label class="form-label">FOV</label>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="spinnerFov">
        </div>
        <div class="col-md-3">
            <label class="form-label">MAX PIXEL ZM</label>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="spinnerMaxPxZm">
        </div>
    </div>
    <div class="row row-margin-settings">
        <div class="col-md-3">
            <label class="form-label">FOV MIN</label>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="spinnerFovMin">
        </div>
        <div class="col-md-3">
            <label class="form-label">FOV MAX</label>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="spinnerFovMax">
        </div>
    </div>
    <div class="row row-margin-settings">
        <div class="col-md-6 col-md-offset-6">
            <button class="btn btn-primary btn-block" id="btnSaveAllSettings">Save All</button>
        </div>
    </div>
