<div class="editor-options">
    <header>
        <form role="form" class="form-horizontal ">
            <fieldset>
                <div class="form-group">
                    <div class="col-xs-6 col-md-6">
                        <button type="button" class="add-editor form-control btn btn-primary">Editor
                        </button>
                    </div>
                    <div class="col-xs-6 col-md-6 no-left-padding">
                        <button type="button" class="add-options form-control btn btn-primary">Options
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </header>
    <section class="menu-wrapper">
        <div class="list-group abso list-padding box-height list-item"></div>
    </section>
</div>
<div class="editor-update">
    <header>
        <form role="form" class="form-horizontal ">
            <fieldset>
                <div class="form-group">
                    <div class="col-xs-2 col-md-2 no-right-padding">
                        <button type="button" class="btn btn-default btnLD"> LD</button>
                    </div>
                    <div class="col-xs-3 col-md-3 no-left-padding">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary labelH active">
                                <input type="radio" name="options" class="btnH" value="height" checked> H
                            </label>
                            <label class="btn btn-primary labelW">
                                <input type="radio" name="options" class="btnW" value="width"> W
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-7 col-md-7 no-left-padding">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default btnC"> C</button>
                            <button type="button" class="btn btn-default btnP"> P</button>
                            <button type="button" class="add-all btn btn-primary"> Add All</button>
                            <button type="button" class="btn btn-default close-options">&times;</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-10 col-md-10">
                        <input type="text" class="slider" value="0" id="sl1" style="width:250px;" data-slider-min="0" data-slider-max="500" data-slider-step="1" data-slider-enabled="false">
                    </div>
                    <div class="col-xs-2 col-md-2 no-left-padding">
                        <div class="btn-group pull-right">
                            <label id="lblSliderVal"> 0</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-10 col-md-10">
                        <input type="text" class="sliderScale" value="0" id="sl2" style="width:250px;" data-slider-min="0" data-slider-max="1" data-slider-step="0.01" data-slider-enabled="false">
                    </div>
                    <div class="col-xs-2 col-md-2 no-left-padding">
                        <div class="btn-group pull-right">
                            <label id="lblSliderScaleVal"> 0</label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </header>
    <section class="player-flyer-section">
<!--
        <div class="list-group abso list-padding box-height list-item"></div>
-->
    </section>
</div>


