<header>
    <form role="form" class="form-horizontal ">
        <fieldset>
            <div class="form-group">
                <div class="col-xs-6 col-md-6">
                    <button type="button"
                            class="form-control btn btn-primary add-scene-class">Add Scene
                    </button>
                </div>
                <div class="col-xs-6 col-md-6">
                    <button type="button"
                            class="form-control btn btn-danger remove-scenes-class">Remove Scenes
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</header>
<section>
    <div class="list-group abso list-padding box-height scene-list"></div>
</section>