<div class="appHeader"></div>
<div id="nav">
    <div class="page-selections"></div>
    <div class="scene-section"></div>
    <!--scene-wrapper-->
</div>
<section class="editor-main container">
    <div class="row">
        <div class="col-md-12">
            <div class="tour-player">
                <!--<div id="pano">
                         embedpano({swf:app.folderName+"/files/tour.swf", xml:app.folderName+"/files/tour.xml", html5:"auto", target:"pano"});
                </div>-->
               <!-- <script type="text/javascript">
                      //app.tourEditor.showTour();
                      function onLoadHandler(){
                          alert('Yay hay');
                      }
                </script>-->
            </div>
        </div>
    </div>
    <div class="row row-margin">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tours" data-toggle="tab">Tours</a></li>
                <li><a href="#menu" data-toggle="tab">Menu</a></li>
                <li><a href="#AutoView" data-toggle="tab">Auto View</a></li>
                <li><a href="#SceneSettings" data-toggle="tab">Scene Settings</a></li>
                <li><a href="#Flyers" data-toggle="tab">Flyers</a></li>
                <li><a href="#HotNav" data-toggle="tab">Navigation</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tours">
                    <div class="col-md-6">
                        <div class="mini-tours-section row-margin">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tour-scenes-section row-margin">

                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="menu">
                    <div class="col-md-6">
                        <div class="menu-section row-margin">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="menu-scenes-section row-margin">


                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="AutoView">
                    <div class="col-md-6">
                        <div class="auto-view-section row-margin">


                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="auto-view-stops-section row-margin">

                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="SceneSettings">
                    <div class="col-md-12">
                        <div id="scene-settings-section-one">

                            <form role="form" class="form-horizontal ">
                                <fieldset>
                                    <!--
                                                                                <legend>Edit Scene Settings</legend>
                                    -->
                                    <div class="form-group edit-scene-settings box-height-settings">

                                    </div>
                                </fieldset>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="Flyers">
                    <div class="col-md-4">
                        <div class="flyer-section row-margin">


                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="flyer-edit-section row-margin">

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="image-section row-margin">

                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="HotNav">
                    <div class="col-md-6">
                        <div class="nav-section row-margin">


                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="nav-edit-section row-margin">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!--
    </div>
-->
<!--
</div>
-->
