<header id="menu-header">
    <form role="form">
        <fieldset>
<!--
            <legend>Add</legend>
-->
            <div class="form-group">
                <label class="sr-only">Enter Menu
                    Title</label>
                <input class="form-control new-item" type="text"
                       placeholder="Enter New Title?" autofocus>
            </div>
        </fieldset>
    </form>
</header>
<section> <!--class="list-wrapper"-->
    <div class="list-group abso list-padding list-item box-height"></div>
</section>