<!---->
<!--<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Zuru 360</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <button id="btnUpload" type="button" class="btn btn-default navbar-btn">Tour Library</button>
            <ul id="displaySignIn" class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span id="spanDisplayName">Sign In</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Tour Library</a></li>
                        <li class="divider"></li>
                        <li><a href="#" id="lnkLogOut">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>-->
<!---->

{{#if logged_in}}
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">  <span id="spanDisplayName"> Welcome {{firstname}} {{lastname}} </span>  <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right" role="menu">
        <li><a id="btnUpload" href="#">Tour Library</a></li>
        <li class="divider"></li>
        <li><a href="#" id="lnkLogOut">Log Out</a></li>
    </ul>
</div>
{{/if}}
