<div class="row">
    <div class="col-md-10 col-sm-10 col-xs-10"><label>{{title}}</label></div>
    <div class="col-md-2 col-sm-2 col-xs-2">
        <button type="button" class="close destroy">&times;</button>
    </div>

</div>