<header>
    <form role="form">
        <fieldset>
<!--menuScenesHeader
            <legend>Add Scene</legend>
-->
            <div class="form-group">
                <button id="btnAddSelectedScene" type="button"
                        class="btn btn-primary btn-block">Add Selected Scene
                </button>
            </div>
        </fieldset>
    </form>
</header>
<section class="menu-wrapper">
    <div class="list-group abso list-padding box-height" id="menu-scenes-list"></div>
</section>