<div class="tourHeader">
    <div class="sceneViewerHeader row">
        <div class="col-md-10 col-sm-10 col-xs-10"><p><strong>{{title}}</strong></p></div>
        <div class="col-md-2 col-sm-2 col-xs-2"><button type="button" class="close destroy">&times;</button></div>
    </div>
    <div class="sceneEditorHeader">
        <form role="form">
            <div class="form-group">
                <label class="sr-only">Title</label>
                <input type="text" class="form-control sceneHeader" placeholder="Enter Heading"
                       value="{{title}}">
            </div>
        </form>
    </div>
</div>
<div class="tourBody">
    <div class="sceneViewerBody">
        <p>{{description}}</p>
    </div>
    <div class="sceneEditorBody">
        <form role="form">
            <div class="form-group">
                <label class="sr-only">Description</label>
                <textarea class="form-control sceneDescription" rows="5"
                          placeholder="Please Enter Property Description">{{description}}</textarea>
            </div>
        </form>
    </div>
</div>
