    <div class="col-md-12 col-sm-12 wrapper tourSingle">
        <div class="row">
<!--
            <div class="col-md-2 col-sm-2 col-xs-2 ">
                <img src="{{coverImage}}" class="img-rounded"/>
            </div>
-->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="upload-header">
                    <div class="header">
                        <h4>{{order}} . <span>{{propertyName}}</span></h4>
                    </div>
                    <div class="detail">
                        <form role="form">
                            <div class="form-group">
                                <label class="sr-only">PropertyName</label>
                                <input type="text" class="form-control upload-property-name" placeholder="Enter Property Name"
                                       value="{{propertyName}}">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="upload-detail">
                    <div class="header">{{description}}</div>
                    <div class="detail">
                        <form role="form">
                            <div class="form-group">
                                <label class="sr-only">Description</label>
                                <input type="text" class="form-control upload-property-description" placeholder="Enter Property Description"
                                       value="{{description}}">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="group-detail">
                    <div class="header">Group : {{_group.groupName}}</div>
                    <div class="detail">
                        <div id="searchfield">
                            <form role="form">
                                <div>
                                    <input type="text" name="groupName" class="form-control" id="autocomplete" placeholder="Enter Group Name" value="{{_group.groupName}}">
                                </div>
                                <!--<div>
                                    <button class="btn-data btn btn-danger btn-block">Data Light</button>
                                </div>-->
                            </form>
                        </div><!-- @end #searchfield -->
                    </div>
                </div>
                <div class="tour-detail">
                    <div class="header">Tour Link</div>
                    <div class="detail">
                        <form role="form">
                            <div class="form-group">
                                <label class="sr-only">Tour Link</label>
                                <input type="text" class="form-control tour-link" placeholder="Enter Tour Link"
                                       value="{{tourLink}}">
                            </div>
                        </form>
                    </div>
                </div>

                <!--<div>{{filename}}</div>-->
            </div>
        </div>
        {{#if canEditTours}}
        <div class="row">
            <!--<div class="col-md-6 col-sm-6 col-xs-6">
                <button class="btn-delete btn btn-danger btn-block">Delete</button>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <button class="btn-edit btn btn-primary btn-block">Edit</button>
            </div>-->
            <div class="col-md-4 col-sm-4 col-xs-4 no-right-padding ">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon coordFont">lat</span>
                    <input type="text" class="lat form-control" placeholder="0" value="{{latitude}}">
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 no-right-padding">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon coordFont">lon</span>
                    <input type="text" class="lon form-control" placeholder="0" value="{{longitude}}">
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 no-left-padding">
                <div class="btn-group btn-group-sm pull-right">
                    <button class="btn-save btn btn-default"><span class="glyphicon glyphicon-floppy-saved"></span></button>
                    <button class="btn-edit btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button class="btn-delete btn btn-danger"><span class="glyphicon glyphicon-floppy-remove"></span></button>
<!--
                    <button class="btn-tour btn btn-primary"><span class="glyphicon glyphicon-hand-right"> Tour</span></button>
-->
                </div>
            </div>

        </div>
        {{/if}}
    </div>
