<!--
<div id="tours" class="container">
-->
<div class="row">
    <div class="col-md-12" action="#">
        <h1>Tour Builder</h1>
    </div>
</div>

<div class="tourGroup">
    <div id="tourGroupAdd">
        <div class="row">
            <form class="form-horizontal col-md-12" role="form" id="addTourGroup">
                <div id="groupNameLabel" class="form-group">
                    <label for="groupName" class="col-md-2 control-label">Group Name</label>

                    <div class="col-md-10">
                        <input type="text" class="form-control" id="groupName" placeholder="Group Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="groupDescription" class="col-md-2 control-label">Description</label>

                    <div class="col-md-10">
                        <input type="text" class="form-control" id="groupDescription" placeholder="Group Description">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-1">
                        <button id="btnGroupAdd" class="btn btn-default">Save</button>
                    </div>
                    <div class="col-md-9">
                        <button id="btnGroupCancel" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="tourGroupList">

    </div>
    {{#if canAddGroup}}
    <div class="row">
        <div class="form-group">
            <div class="col-md-2">
                <button id="btnAddGroupTour" class="btn btn-default">Add Group</button>
            </div>
        </div>
    </div>
    {{/if}}
</div>


<!--
</div>
-->
