<!--
<div id="tours" class="container">
-->
<!--
<div class="row">
    <div class="col-md-12" action="#">
        <h1>Tour Builder</h1>
    </div>
</div>
-->
<div id="map">
<button id="btnShowList" class="btn btn-primary btn-block">Show List</button>

</div>
<div class='map-overlay'>
    <label for='latitude'>latitude</label><br />
    <input type='text' size='5' id='latitude' /><br />
    <label for='longitude'>longitude</label><br />
    <input type='text' size='5' id='longitude' />
</div>
<div class="tourListOverlay">
    <div id="tourAdd">
        <div class="row">
            <!-- The fileinput-button span is used to style the file input field as button -->
    <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Select files...</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="files[]" multiple>
    </span>
            <br>
            <br>
            <!-- The global progress bar -->
            <div id="progress" class="progress">
                <div class="progress-bar progress-bar-success"></div>
            </div>
            <!-- The container for the uploaded files -->
            <div id="files" class="files"></div>
            <br>
        </div>
        <div class="row">
            <form class="form-horizontal col-md-12" role="form" id="addTour">
                <div class="form-group">
                    <label for="propertyName" class="col-md-2 control-label">Property Name</label>

                    <div class="col-md-10">
                        <input type="text" class="form-control" id="propertyName" placeholder="Property Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-md-2 control-label">Description</label>

                    <div class="col-md-10">
                        <input type="text" class="form-control" id="description" placeholder="Description">
                    </div>
                </div>
                <div id="fileNameLabel" class="form-group">
                    <label for="filename" class="col-md-2 control-label">File Name</label>

                    <div class="col-md-10">
                        <input type="text" class="form-control" id="filename" placeholder="File Name" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-2 col-sm-6  col-xs-6">
                        <button id="btnAdd" class="btn btn-default btn-block">Save</button>
                    </div>
                    <div class="col-md-2  col-sm-6  col-xs-6">
                        <button id="btnCancel" class="btn btn-default btn-block">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="tourList">
    </div>
    <div id="tourCommands" class="well well-sm no-bottom-margin">
        <div class="row">
            <div class="form-group">
                {{#if canEditTours}}
                <div class="col-md-3 col-sm-3  col-xs-3 no-right-padding">
                    <button id="btnAddTour" class="btn btn-primary btn-block ">Add Tour</button>
                </div>
                <div class="col-md-3 col-sm-3  col-xs-3">
                    <button id="btnViewAll" class="btn btn-primary btn-block ">View All</button>
                </div>
                <div class="col-md-3 col-sm-3  col-xs-3 no-left-padding">
                    <div class="editLocation">
                        <div><button id="btnLocate" class="btn btn-primary btn-block locate">Locate</button></div>
                        <div><button id="btnEdit" class="btn btn-danger btn-block edit">Edit</button></div>
                    </div>

                </div>
                {{/if}}
                <div class="col-md-3 col-sm-3  col-xs-3 {{#if canEditTours}}no-left-padding{{/if}}">
                    <!--<button id="btnEdit" class="btn btn-default btn-block ">Edit</button>-->
                        <div class="mapDisplay">
                            <button id="btnHideList" class="btn btn-primary btn-block hideList">Hide</button>

                        </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
</div>
-->
