<div class="col-md-12 col-sm-12 wrapper tourGroup">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="upload-header">
                <div class="header">
                    <h4>{{groupName}}</h4>
                </div>
                <div class="detail">
                    <form role="form">
                        <div class="form-group">
                            <label class="sr-only">groupName</label>
                            <input type="text" class="form-control upload-group-name" placeholder="Enter Group Name"
                                   value="{{groupName}}">
                        </div>
                    </form>
                </div>
            </div>
            <div class="upload-detail">
                <div class="header">{{groupDescription}}</div>
                <div class="detail">
                    <form role="form">
                        <div class="form-group">
                            <label class="sr-only">Group Description</label>
                            <input type="text" class="form-control upload-group-description" placeholder="Enter Group Description"
                                   value="{{groupDescription}}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-8 col-md-2 col-sm-6">
            {{#if canDelete}}
            <button class="btn-delete btn btn-danger btn-block">Delete</button>
            {{/if}}
        </div>
        <div class="col-md-2 col-sm-6">
            <button class="btn-show-tours btn btn-primary btn-block">Show Tours</button>
        </div>
    </div>
</div>
